.banner{
    height: 50vh;
    position: relative;
    /* background: url("https://i.pinimg.com/originals/b4/2e/54/b42e545722335a279cfa4b3352820c01.jpg"); */
    background: url("https://d26a57ydsghvgx.cloudfront.net/product/Customer%20Story%20Images/airbnb3.jpg");
    background-position:right;
    /* background-size: cover; */
}

.banner__info{
    background-color: black;
    color: white;
    padding: 20vh 50px 40px 50px;
    width: 300px;
}

.banner__search{
    display: flex;
    flex-direction: column;
}

.banner__searchBtn{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner__info > button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover{
    background-color: white;
    color: #ff7779;
}

.banner__info > h5{
    margin-top: 10px;
}

